.container {
  font-size: 40px;
  width: 100%;
  background-color: LightGray;
  display: grid;
  grid-column:20px 20px 20px;
  grid-rows: 10px 10px;
}
.d1{
       background-color: lightblue;
}
.d2{
    background-color: orange;
}
.d3{
    background-color: lightcyan;
}
.d4{
    background-color: pink;
}
.d5{
    background-color: lightgreen;
}