.container {
  font-size: 40px;
  width: 100%;
  background-color: LightGray;
  display: grid;
   grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}
.d1{
       background-color: lightblue;
}
.d2{
    background-color: orange;
    justify-self: center;
}
.d3{
    background-color: lightcyan;
    align-self: end;
}
.d4{
    background-color: pink;
}
.d5{
    background-color: lightgreen;
     grid-column: 2/4;
     grid-row: 2/4;
}