.container {
  font-size: 40px;
  width: 100%;
  background-color: LightGray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    column-gap: 20px;
}
.d1{
       background-color: lightblue;
}
.d2{
    background-color: orange;
}
.d3{
    background-color: lightcyan;
}
.d4{
    background-color: pink;
}
.d5{
    background-color: lightgreen;
}